* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', arial, sans-serif;
    box-sizing: border-box;

}


header h1 {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: lightgray;
    padding: 10px 0;
    filter: blur(0.5px);
    text-align: center;
    min-width: 360px;
}

.navbar {
    border-bottom: 2px solid transparent;
    transition: 1s;
    background-color: rgb(53, 81, 132);
    opacity: 0;
}
.navbar .navBtn {
    background-color: white;
}

.navbar .navBtn:hover {
    color: white;
    background-color: #0d6efd;
}


.card1, .card2, .card3 {
    top: -1000px;
    transition: 1s;
    text-align: left;
}

#threeFeatures .card3 ul {
    list-style: url('/img/check.svg');
    padding: 0 20px;
    
}


section.main div{
    background-color: white;
    position: relative;
    color:  rgb(53, 81, 132);
    overflow: hidden;
    box-sizing: border-box;
    z-index: 1;
    margin: 5px auto 15px;

}

section.main div h1{
    margin-top: 50px;
    border-bottom: 1px solid #0d6efd;
}

.card-body {
    min-height: 300px;
    text-align: left;
}

section.main div.infoline .threeFeatures {
margin: 1000px;
}


div.wrapper {
    display: block;
    height: 100%;
}


div.dividerDown {
    height: 5vh;
    background: rgb(207,207,207);
    background: linear-gradient(180deg, rgba(207,207,207,1) 0%, rgba(255,255,255,1) 97%, rgba(255,255,255,1) 100%);
}

.seriaCmt3 .tiltonGroup{
    margin: 0 auto;
    padding: 0;
}
.seriaCmtStart, .seriaCmt3 .tiltonGroup .imgStart {
    margin: 50px auto;
    justify-content: center;
}

.seriaCmtStart ul {
    list-style: url('/img/check.svg');
    padding: 20px;

}

.seriaCmtStart img, .seriaCmt3 .tiltonGroup .imgStart img {
    display: flex;
    justify-content: center;
    transition: 0.5s;

}
.seriaCmtStart img:hover, .seriaCmt3 .tiltonGroup .imgStart img:hover {
    transform: scale(1.02);
}

#myCarousel .carousel-item img {
    margin: 0 35%;
    display: flex;
    justify-content: center;
}


#myCarousel .carousel {
    background-color: white;
}
#myCarousel .carousel-item .carousel-caption {
    color: rgb(53, 81, 132);
}




/* info */

.bi-bar-chart-steps {
    transition: 0.5s;
    transform: rotate(0deg);

}
.bi-bar-chart-steps:hover {
  transform: rotate(360deg);
}

.seriaCmtStart {
padding-top: 100px;
}


.seriaCmtStart img {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
    margin-bottom: 150px;
}

.imgStart img {
    max-width: 480px;
    text-align: center;
    margin: 0 auto 50px;
}



div ul.footerList {
    font-size: 0.7em;
} 


.btns {
    margin-top: 20px;
    text-align: center;
    color: #0d6efd;

}

.btns span{
    color: #0d6efd;
}

.btns button {
    margin: 15px;
    height: 5vw;
    width: 5vw;
    border-radius: 50%;
    color: #0d6efd;
    background-color: white;
    border-color: #0d6efd;
}


.btns button:hover {
    background-color: #0d6efd;
    color: white;
    transition: .7s;
    transform: scale(1.1);


}

.js-scroll-left {
    left: -1000px;
    opacity: 0;
    transition: 1s;
    text-align: right;
    
}
.js-scroll-left.scrolled{
    opacity: 1;
    left: 0;
    text-align: right;


}
.js-scroll-right {
    right: -1000px;
    transition: 1s;
    opacity: 0;
    text-align: left;

}
.js-scroll-right.scrolled{
    right: 0;
    opacity: 1;
    text-align: left;


}

.js-scroll-opacity {
    opacity: 0;
    transition: 0.7s;
}
.js-scroll-opacity.scrolled {
    opacity: 1;

}

.moreBtn {
    margin-top: 20px;
    padding: 10px 20px;
    border: 2px  #0d6efd solid;
    color:  white;
    border-radius: 5%;
    font-size: 1.3rem;
    transition: 0.5s;

}

.moreBtn:hover {
    color: #0d6efd;
    background-color: white;
    border: 2px solid #0d6efd;
}


footer {
    z-index: 1;
    margin-top: 40px;
    background-color: rgb(53, 81, 132);
    color: white;
    transition: 1s;

}


.nav-link{
    color: white;
    border-bottom: none;

}

.nav-link:hover{
    color: white;
    border-bottom: 1px solid white;

}



@media (max-width: 860px) {
 .bi-display,
 .bi-mouse2,
 .bi-youtube,
 .bi-camera-video,
 .bi-folder,
 .bi-lightbulb,
 .bi-wrench-adjustable,
 .bi-file-earmark-bar-graph,
 .bi-card-image,
 .bi-info-circle {
width: 25px;
height: 25px;

}}

@media (max-width: 768px) {
 .bi-display,
 .bi-mouse2,
 .bi-youtube,
 .bi-camera-video,
 .bi-folder,
 .bi-lightbulb,
 .bi-wrench-adjustable,
 .bi-file-earmark-bar-graph,
 .bi-card-image,
 .bi-info-circle {
width: 20px;
height: 20px;
}

#myCarousel .carousel-item img {
    margin: 0 15%;
}

.imgStart.cmtLower, .cmtStart.cmtLower {
border-bottom: 4px lightgray ridge;
margin: 0 auto;
padding-bottom: 20px;

}
.seriaCmtStart, .seriaCmt3 .tiltonGroup .imgStart {
    margin: 0 auto 10px;
    text-align: center;
}

}
@media (max-width: 560px) {
 .bi-display,
 .bi-mouse2,
 .bi-youtube,
 .bi-camera-video,
 .bi-folder,
 .bi-lightbulb,
 .bi-wrench-adjustable,
 .bi-file-earmark-bar-graph,
 .bi-card-image,
 .bi-info-circle {
width: 15px;
height: 15px;

}
footer .container {
    text-align: center;
    justify-content: center;
}
}
@media (max-width: 520px) {
 .bi-display,
 .bi-mouse2,
 .bi-youtube,
 .bi-camera-video,
 .bi-folder,
 .bi-lightbulb,
 .bi-wrench-adjustable,
 .bi-file-earmark-bar-graph,
 .bi-card-image,
 .bi-info-circle {
width: 20px;
height: 20px;
}
.btns button {
border: none;
}
#myCarousel .carousel-item img {
    margin: 0 0;
}
}